<% layout('./layouts/boilerplate') -%>


  <div class="container">

    <h1 class="text-center mb-4">All Listings</h1>

    <div class="row" id="list-container">
      <% for(let list of allshow) { %>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
          <a class="text-decoration-none text-dark" href="/listing/<%= list._id %>">
            <div class="card h-100 shadow-sm">
              <img src="<%= list.image %>" class="card-img-top" alt="<%= list.title %>"
                style="height: 200px; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">
                  <%= list.title %>
                </h5>
                <p class="card-text">&#8377; <%= list.price ? list.price.toLocaleString("en-IN") : "N/A" %>
                </p>

              </div>
            </div>
          </a>
        </div>
      <% } %>
    </div>
  </div>